.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh
}


.grid-row {
  display: flex;
  border-bottom: 6px solid rgba(0, 0, 0, 0.8);
}

.grid-row:nth-last-child(1) {
  border-bottom-style: none;
}

.grid-row .grid-cell {
  height: 160px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 6px solid rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.grid-row .grid-cell:nth-last-child(1) {
  border-right-style: none;
}

.circle-icon {
  width: 60%;
  stroke: rgba(0, 0, 0, 0.8);
}

.cross-icon {
  width: 70%;
}

.popup-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-backdrop .popup-view {
  background-color: white;
  border-radius: 6px;
  padding: 30px 10px;
  min-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.restart-button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background: #0070f3;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.restart-button:hover {
  background: rgba(0, 118, 255, 0.9);
  box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}